{% extends 'index/base2.html' %}
{% load staticfiles %}
{% load el_pagination_tags %}
{% block body %}

<link rel="stylesheet" href="{% static 'owlcarousel/owl.carousel.min.css' %}">
<link rel="stylesheet" href="{% static 'owlcarousel/owl.theme.default.min.css' %}">
<style>
@media only screen and (max-width: 768px) {
    #contact_row{
        margin-top:300px;
    }
}


</style>



<div class='container-fluid'>
    <div class='row'>


        <div class='col-md-7'>
            <a class="nav-link" href="#" onclick="window.history.back();return false;"><i class='fa fa-arrow-left'></i> Back TO PROPERTY LIST <span class="sr-only">(current)</span></a>
            <!-- A grey horizontal navbar that becomes vertical on small screens -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light" style='border-top: 1px solid lightgray; border-bottom: 1px solid lightgray; '>
            <div id="navbarNavDropdown" class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">

            <p><h6 style='color:black'> {{qs.street_number}}  {{qs.street_name}}, {{qs.suburb}} {{qs.state}} </h6></p>
            </li>
            <!--<li class="nav-item">-->
            <!--    <a class="nav-link" href="#"><i class='fa fa-globe'></i> Map</a>-->
            <!--</li>-->

            </ul>
            <ul class="navbar-nav">

            <li class="nav-item">
            <p> <h6 style='color:black'>$ {{qs.Price}} </h6></p>
            </li>

            </ul>
            </div>
            </nav>


            <img src='{{qs.image.url}}' class='img-fluid' id='bg_image' width="800" height='600'>








   <h6 style='color:black'>Image Gallery</h6>
<div class="owl-carousel">

<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Building</p>
</figcaption>
</figure>
</div>

<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.plan.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Plan</p>
</figcaption>
</figure>
</div>

{% if qs.image1 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image1.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image2 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image2.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image3 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image3.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image4 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image4.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image5 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image5.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image6 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image6.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image7 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image7.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image8 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image8.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image9 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image9.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image10 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image10.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image11 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image11.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image12 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image12.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image13 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image13.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image14 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image14.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image15 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image15.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image16 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image16.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image17 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image17.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


{% if qs.image18 %}
<div>
<figure class="figure" style="border: 1px solid lightgrey;">
<img src="{{qs.image18.url}}" class="figure-img img-fluid" alt="Car image" style="width: 200px; height: 200px" onclick='showImage(this.src)'>
<figcaption class="figure-caption">
<p>Image</p>
</figcaption>
</figure>
</div>
{% endif %}


</div>







        </div>
        <!--col-md-9-->


        <div class='col-md-5'>
            <br>
            <hr>
            <div class="alert alert-primary">
              <strong>Property Features</strong>
            </div>
          <!--  <a href=''> <i class='fa fa-facebook' style='font-size:20px'></i></a>-->
          <!--  <a href=''>    <i class='fa fa-twitter' style='font-size:20px'></i></a>-->
          <!--  <a href=''>   <i class='fa fa-instagram' style='font-size:20px'></i></a>-->
          <!--<br>-->
          <!--<hr>-->
          <div style='font-size:17px;color:black'>
            <a href='' style='margin-right: 60px;color:black'>Bedrooms <i class='fa fa-bed' style='font-size:20px'></i> {{qs.Bedrooms}}</a>
            <a href='' style='color:black'>Bathrooms <i class='fa fa-bath' style='font-size:20px'></i>  {{qs.Bathrooms}} </a> <br>
            <a href='' style='margin-right: 60px;color:black'>Car Spaces <i class='fa fa-car' style='font-size:20px'></i>   {{qs.Car_spaces}} </a>
            <a href='' style='color:black'>Landsize  <i class='fa fa-area-chart' style='font-size:20px'></i>   {{qs.land_size}} </a> <br>
            <a href=''style='color:black'>     {{qs.Property_type}} </a>
        </div>
            <hr>
            <div class="alert alert-primary">
            <strong>Description</strong>
            </div>
            <p style='font-size:17px;color:black'>{{qs.description}}</p>
            <hr>

            <div class="alert alert-primary">
              <strong>Seller Info</strong>
            </div>

            <p>{{qs.user.username}}</p>
            <p>{{qs.user.email}}</p>
<hr>


<div class="alert alert-primary">
<strong>Map View</strong>
</div>

<div id="map" style='height:40%;'></div>
<hr>









        </div>







    </div>
    <!--row-->



<hr>
<div class='row' id='contact_row'>
<div class='col-md-6'>
<h6 style='color:black'>Contact Seller</h6>
<form action="">

<div class="form-group">
<label for="name" style='color:black'>Name:</label>
<input type="text" class="form-control" id="name">
</div>
<div class="form-group">
<label for="email" style='color:black'>Email address:</label>
<input type="email" class="form-control" id="email">
</div>

<div class="form-group">
<label for="phone" style='color:black'>Phone:</label>
<input type="text" class="form-control" id="phone">
</div>
<div class="form-group">
  <label for="comment" style='color:black'>Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>








</div>
</div>


</div>





{% csrf_token %}

{% block selectizescript %}
.
{% endblock %}
<script>
    function showImage(src){
        image = document.querySelector('#bg_image').src = src
    }

</script>
    <script>
      var geocoder;
      var map;
      var address = "{{qs.street_number}} {{qs.street_name}} {{qs.suburb}} {{qs.state}}";
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 8,
          center: {lat: -34.397, lng: 150.644}
        });
        geocoder = new google.maps.Geocoder();
        codeAddress(geocoder, map);
      }

      function codeAddress(geocoder, map) {
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfZ86mdGX5E7o4PGSB7ct22axSb_JzVTY
&callback=initMap">
    </script>


<script src="{% static 'owlcarousel/owl.carousel.min.js' %}"></script>

<script>
$(document).ready(function(){
$(".owl-carousel").owlCarousel();
});

var owl = $('.owl-carousel');
 $('.owl-carousel').owlCarousel({
            margin: 10,
            nav: true,
      loop:true,
      margin:10,
      autoplay:true,
      autoplayTimeout:3000,
      autoplayHoverPause:true,
            navText:["<div class='nav-btn prev-slide'></div>","<div class='nav-btn next-slide'></div>"],
            responsive: {
                0: {
                    items: 2
                },
                490: {
                    items: 2
                },
                1000: {
                    items: 5
                }
            }
        });

$('.play').on('click',function(){
    owl.trigger('play.owl.autoplay',[1000])
})
$('.stop').on('click',function(){
    owl.trigger('stop.owl.autoplay')
})


</script>


<script>
var url1 = 'http://anandrathi.pythonanywhere.com/'
function StarSearch(e){
        console.log(e)
	var token = document.querySelector("input[name=csrfmiddlewaretoken]").value

	var url = url1 +'savesearch/'
	let  formData = new FormData()
	formData.append('post_id', e)


	fetch(url,
	{
	body: new URLSearchParams(formData),
	method: 'post',
	headers:{
	'X-CSRFTOKEN': token
	}


	}).then(res => res.json()).then(function(data) {
        var post_id = '#star'+data.post_id
        if (data.msg == 'saved'){
           document.querySelector(post_id).style.color = 'orange'
        }
        else if (data.msg == 'deleted'){
           document.querySelector(post_id).style.color = 'grey'
        }

// 		console.log(data)



	})

    }
</script>






<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfZ86mdGX5E7o4PGSB7ct22axSb_JzVTY&callback=initMap"></script>-->

{% endblock %}