{% extends 'index/base2.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container-fluid" style='margin-top:90px'>
<div class="row">
<div class="col-md-12">

<div class="table-responsive">
<table class="table table-bordered">
    <thead>
      <tr>
        <th>Post</th>
        <th>Date Created</th>
        <th>Status</th>
        <th>Days Remaining</th>

        <th>Edit</th>

        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
    {% for i in pagin %}
      <tr>
        <td><a href="">Post</a></td>
        <td>{{i.created}}</td>
        <td>{% if i.active == False %} Not Active | <a href="">Pay to activate</a> {% else %} Active{% endif %}</td>
        <td>Null</td>
        <td><a href="{% url 'home:edit' i.id_user %}"><button class="btn btn-sm btn-primary">Edit</button></a></td>
        <td><a href="{% url 'home:delete' i.id_user %}"><button class="btn btn-sm btn-primary">Delete</button></a></td>
      </tr>

    {% endfor %}

    </tbody>
  </table>
  <p>For mobile screens, swipe left to view full table.</p>
<div class="pagination">
    <span class="step-links">
        {% if pagin.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ pagin.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ pagin.number }} of {{ pagin.paginator.num_pages }}.
        </span>

        {% if pagin.has_next %}
            <a href="?page={{ pagin.next_page_number }}">next</a>
            <a href="?page={{ pagin.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<!--end pagination div-->



  </div>
</div>

</div>

</div>
{% endblock %}