{% extends 'index/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}



    <div class="" style="margin-top: 80px;" >
        <div class="container" >
          <div class="row">
            <div class="col-md-12">
            <center>

            <p><h5>Saved Search</h5></p>
            </center>

            {% for i in qs %}
                <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <form action="{% url 'home:filter_search' %}" method="post"> {% csrf_token %}
                <h5 class="card-title"> <input class='btn btn-primary btn-small' type='submit' value='{{i.name}}' style='background-color: rgb(255,255,255);border-color:white;color:black;'></h5>
                <hr>
                <p>
                <i class='fa fa-money'></i> &nbsp&nbsp {{i.pricemin}} - {{i.pricemax}}<br>
                <i class='fa fa-bed'></i> &nbsp&nbsp  Min Bed: {{i.bedmin}}  - Max Bed: {{i.bedmax}}
                <br>
                {{i.property_type}}

                </p>


                    <input type='text' name='hiddensearch' id='hiddensearch{{i.id}}'>
                    <input type='text' name='propertytype1' id='propertytype1{{i.id}}'>
                    <input type='text' name='Bed(min)' id='bedmin{{i.id}}'>
                    <input type='text' name='Bed(max)' id='bedmax{{i.id}}'>
                    <input type='text' name='pricemax' id='pricemax{{i.id}}'>
                    <input type='text' name='pricemin' id='pricemin{{i.id}}'>
                    <!--<input type='text' name='propertytype1' id='propertytype1'>-->


                </form>

                {% for a in qs2 %}
                <script>
                    searchlist = []
                    searchlist.push('{{a.search}}')
                    document.querySelector('#hiddensearch{{i.id}}').value = searchlist
                    document.querySelector('#propertytype1{{i.id}}').value = '{{i.property_type}}'
                    document.querySelector('#bedmin{{i.id}}').value = '{{i.bedmin}}'
                    document.querySelector('#bedmax{{i.id}}').value = '{{i.bedmax}}'
                    document.querySelector('#pricemin{{i.id}}').value = '{{i.pricemin}}'
                    document.querySelector('#pricemax{{i.id}}').value = '{{i.pricemax}}'

                </script>

                {% if a.header == i %}

                <p class="card-text">{{a.search}}</p>
                <hr>
                <i class='fa fa-trash'></i>
                <i class='fa fa-bell' style='float:right'></i>


                {% endif %}
                {% endfor %}
                </div>
                </div>
            {% endfor %}


              </div>
            </div>

          </div>
        </div>

{% endblock %}