{% extends 'Administrator/base.html' %}
{% load staticfiles %}


{% block body %}
<body>
  <section id="container">
    <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
    <!--header start-->
{% include 'Administrator/header.html' %}
    <!--header end-->
    <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
    <!--sidebar start-->
{% include 'Administrator/sidebar.html' %}
    <!--sidebar end-->
    <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper">
        <div class="row">
          <div class="col-lg-12 main-chart">
            <!--CUSTOM CHART START -->
            <div class="border-head">
              <h3>STATICTICS</h3>
            </div>
            <div class="custom-bar-chart">
              <ul class="y-axis">
                <li><span>10000</span></li>
                <li><span>8000</span></li>
                <li><span>6000</span></li>
                <li><span>4000</span></li>
                <li><span>2000</span></li>
                <li><span>0</span></li>
              </ul>
              <div class="bar">
                <div class="title">ACTIVE USERS({{user_total_percentage}}%)</div>
                <div class="value tooltips" data-original-title={{user_total}} data-toggle="tooltip" data-placement="top">{{user_total_percentage}}%</div>
              </div>
              <div class="bar ">
                <div class="title">ACTIVE POSTS({{post_active_total_percentage}}%)</div>
                <div class="value tooltips" data-original-title="5000" data-toggle="tooltip" data-placement="top">{{post_active_total_percentage}}%</div>
              </div>
              <div class="bar ">
                <div class="title">DISABLED POSTS({{post_disabled_total_percentage}}%)</div>
                <div class="value tooltips" data-original-title="6000" data-toggle="tooltip" data-placement="top">{{post_disabled_total_percentage}}%</div>
              </div>
              <div class="bar ">
                <div class="title">TOTAL POSTS({{total_post_percentage}}%)</div>
                <div class="value tooltips" data-original-title="4500" data-toggle="tooltip" data-placement="top">{{total_post_percentage}}%</div>
              </div>
<!--               <div class="bar">
                <div class="title">DISABLED POSTS</div>
                <div class="value tooltips" data-original-title="3200" data-toggle="tooltip" data-placement="top">32%</div>
              </div> -->

            </div>
            <!--custom chart end-->
            <div class="row mt">
              <!-- SERVER STATUS PANELS -->
              <div class="col-md-4 col-sm-4 mb">
                <div class="grey-panel pn donut-chart">
                  <div class="grey-header">
                    <h5>TOTAL EARNINGS</h5>
                  </div>
                  <canvas id="serverstatus01" height="120" width="120"></canvas>
                  <script>
                    var doughnutData = [{
                        value: 70,
                        color: "#FF6B6B"
                      },
                      {
                        value: 30,
                        color: "#fdfdfd"
                      }
                    ];
                    var myDoughnut = new Chart(document.getElementById("serverstatus01").getContext("2d")).Doughnut(doughnutData);
                  </script>
                  <div class="row">
                    <div class="col-sm-6 col-xs-6 goleft">
                      <p>Usage Increase From Day1:</p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                      <h2>21%</h2>
                    </div>
                  </div>
                </div>
                <!-- /grey-panel -->
              </div>
              <!-- /col-md-4-->

              <div class="col-lg-4 col-md-4 col-sm-4 mb">
                <div class="product-panel-2 pn">

                  <img src="img/product.jpg" width="200" alt="">

                  <h6>TOTAL SALES: </h6>
                    <h6>ACTIVE USERS: {{user_total}}</h6>
                    <h6>ACTIVE POSTS: {{post_active_total}}</h6>
                    <h6>DISABLED POSTS: {{post_disabled_total}}</h6>
                    <h6>TOTAL POSTS: {{total_post}}</h6>
                  <button class="btn btn-small btn-theme04">FULL REPORT</button>
                </div>
              </div>
              <!-- /col-md-4-->



            <!--   <div class="col-md-4 mb"> -->
                <!-- WHITE PANEL - TOP USER -->
<!--                 <div class="white-panel pn">
                  <div class="white-header">
                    <h5>TOP USER</h5>
                  </div>
                  <p><img src="{% static 'administrator/img/fr-05.jpg' %}" class="img-circle" width="50"></p>
                  <p><b>Zac Snider</b></p>
                  <div class="row">
                    <div class="col-md-6">
                      <p class="small mt">MEMBER SINCE</p>
                      <p>2012</p>
                    </div>
                    <div class="col-md-6">
                      <p class="small mt">TOTAL SPEND</p>
                      <p>$ 47,60</p>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- /col-md-4 -->
            </div>
            <!-- /row -->



          </div>
          <!-- /col-lg-9 END SECTION MIDDLE -->
          <!-- **********************************************************************************************************************************************************
              RIGHT SIDEBAR CONTENT
              *********************************************************************************************************************************************************** -->

        </div>
        <!-- /row -->
      </section>
    </section>
    <!--main content end-->

  </section>
  <!-- js placed at the end of the document so the pages load faster -->




{% endblock body %}

</body>

</html>
