{% extends 'index/base.html' %}
{% load crispy_forms_tags %}

{% block body %}
<div class="" style="background-image: url('../../static/images/hero_bg_1.jpg'); margin-top: 60px;" data-stellar-background-ratio="0.5">
<div class="container">
<div class="row">
    <div class="col-md-6 col-sm-offset-3">
        <hr>
        <h1 style="font-family: 'black_jackregular'; color: white;" style="color: white"><i class="fa fa-lock" aria-hidden="true" style="color: white"></i>&nbsp;Success</h1><br>
        <hr>
        <p>
         <i class="fa fa-thumbs-o-up" aria-hidden="true" style="color: white;"></i>&nbsp;<p style="color: white;">Check your email for the link to change password

</p>
     <br>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <hr>
</div>
</div>
</div>
</div>
{% endblock %}