{% extends 'index/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block body %}



    <div class="" style="margin-top: 70px;" >
        <div class="container" >
          <div class="row">
            <div class="col-md-12 offset-md-3">
            <center>
            <p>Register with facebook or google</p>


<a href='{% url 'account:googlelogin' %}'><img src='{% static "images/google.png" %}' width='70' height='70'></a>
<a href='{% url 'account:fblogin' %}'><img src='{% static "images/fb.png" %}' width='100' height='100'></a>

<h1>{{msg}}</h1>
<!--<form method="post" enctype="multipart/form-data" action="{% url 'account:register' %}" style="margin-bottom: 100px;">{% csrf_token %}-->
<!--{{form|crispy}}-->
<!--{{form2|crispy}}-->
<!--<input class="btn btn-primary" type="submit" value="Register" name="" id="register_button">-->
<!--</form>-->


              </div>
            </div>

          </div>
        </div>

{% endblock %}